<script>
function validateForm() {
  var x = document.forms["negocio"]["negocio_logradouro_hidden"].value;
  if (x == "") {
    alert("O Endereço deve ser preenchido. Informe o CEP e clique \'Preencher endereço\'");
    return false;
  }
}
</script>

<div class="container">
  <%= form_with(name: "negocio", model: negocio, local: true, class: "text-left", onsubmit:"return validateForm()") do |form| %>
    <% if negocio.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(negocio.errors.count, "error") %> prohibited this negocio from being saved:</h2>

        <ul>
        <% negocio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <%= form.label :nome %>
          <%= form.text_field :nome, 
            class: "form-control mb-2", 
            required: true,
            oninvalid: "this.setCustomValidity('O nome deve ser informado')",
            oninput: "this.setCustomValidity('')",
            maxlength: 80 %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :categoria %><br>
          <%= select_tag(:categoria_id, options_for_select(@categorias, @negocio.categoria_id), class: "form-control" )%>
        </div>
      </div>
</div>

<div class="row">


      <div class="col-sm-4"> 
        <div class="form-group">
          <label>Site (opcional)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">https://</span>
            </div>
            <%= form.text_field :site, class: "form-control", maxlength: 80 %>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="form-group">
          <label>Email (opcional)</label>
          <%= form.text_field :email, class: "form-control", maxlength: 80 %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Facebook (opcional)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">fb.com/</span>
            </div>
            <%= form.text_field :facebook, class: "form-control", maxlength: 80 %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-sm-4">
        <div class="form-group">
          <label>Instagram (opcional)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">@</span>
            </div>
            <%= form.text_field :instagram, class: "form-control", maxlength: 80 %>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Whatsapp (opcional)</label>
          <%= form.text_field :whatsapp, class: "form-control", maxlength: 80 %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label>Telefone (opcional)</label>
          <%= form.text_field :telefone, class: "form-control", maxlength: 80 %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label>Fale sobre seu negócio. Use esse espaço para vender seu produto ou serviço! (opcional)</label>
      <%= form.text_area :descricao, class: "form-control", maxlength: 1000 %>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>CEP (somente números)</label>
          <div class="input-group sm-4">
            <%= form.text_field :cep, 
              class: "form-control",
              required: true,
              oninvalid: "this.setCustomValidity('O CEP deve ser informado')",
              oninput: "this.setCustomValidity('')" %>
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" data-remote="true">Preencher endereço</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Endereço</label>
          <%= form.text_field :logradouro, 
            class: "form-control",
            readonly: true %>

            <%= form.text_field :logradouro_hidden, 
            class: "form-control",
            hidden: true %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <label>Número (opcional)</label>
          <%= form.text_field :numero, class: "form-control", maxlength: 80 %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Complemento (opcional)</label>
          <%= form.text_field :complemento, class: "form-control", maxlength: 80 %>
        </div>
       </div> 
    </div>  
    
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :bairro %>
          <%= form.text_field :bairro, readonly: "true", class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :cidade %>
          <%= form.text_field :cidade, readonly: "true", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :estado %>
          <%= form.text_field :estado, readonly: "true", class: "form-control" %>
        </div>
      </div>
    </div> 

    <div class="actions">
      <%= form.submit "Salvar", class: "btn btn-lg btn-primary"%>
      <%= link_to "Cancelar", negocios_path, class: "btn btn-lg btn-secondary"%>
    </div>
  <% end %>
</div>