<!DOCTYPE html>
<html>
  <head>
    <title>Tamo Aí</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/212d35174f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <%= yield %>
      </section>
    </main>
    <footer>
      <div class="container">
        <p class="text-center">
          <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by freepik - www.freepik.com</a>
          <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by pikisuperstar - www.freepik.com</a>
        </p>
      </div>
    </footer>
  </body>
</html>
